.row {
    padding: 20px;
    color: white;
    margin
    h2 {
        width: 100%;
        font-weight: 700;
        font-size: 25px;
        margin-bottom: 15px;
        padding-left: 20px;
    }
    &-wrapper {
        margin-top: 15px;
    }
    
}